<% if (title) { %>
<h1><%= title %></h1>

<!-- Registration Form -->
<form
  id="edit-form"
  action="/account/delete"
  method="post"
  onsubmit="return confirmDelete()"
>
  <label for="firstName">First Name</label>
  <input
    type="text"
    name="account_firstname"
    id="accountFirstname"
    required
    value="<%= locals.account_firstname %>"
    readonly
  />

  <label for="lastName">Last Name</label>
  <input
    type="text"
    name="account_lastname"
    id="accountLastname"
    required
    readonly
    value="<%= locals.account_lastname %>"
  />

  <label for="email">Email Address</label>
  <input
    type="email"
    name="account_email"
    id="email"
    required
    readonly
    value="<%= locals.account_email %>"
  />

  <button type="submit" id="edit-btn">Delete Account</button>
  <input
    type="hidden"
    name="account_id"
    value="<%= locals.account_id || '' %>"
  />
</form>

<!-- Sign Up Link -->

<% } else { res.redirect('/'); } %> <% if (errors) { %>
<ul class="notice">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %>

<script>
  function confirmDelete() {
    return confirm(
      "Are you sure you want to delete this account? This action cannot be undone."
    );
  }
</script>
